<div class="widget" ng-controller="widgetCtrl">
  <div class="widget__part1">

    <div class="header">
      <div class="background"></div>
      <div class="box">
        <app-user></app-user>
      </div>
    </div>

    <div class="comments__list">
      <div class="box">
        <div>
          <div class="comment__hidecomments">Hide comments (353)</div>
          <app-comments></app-comments>
        </div>
      </div>
    </div>

  </div>

  <div class="widget__part2">
    <app-comments-add></app-comments-add>
  </div>
</div>
